node_modules/
test-results/
playwright-report/
blob-report/
playwright/.cache/
.env

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
*.png
claude_desktop_config.json

